html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 150%;
    background-image: url("../images/bananas.png");
}

.header {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 83px;
    width: 100%;
    
}

.label {
    width: 210px;
    background-color: green;
    color: white;
    padding: .5em;
    text-align: left;
    position: absolute;
    left: 155px;
}


.links {
    color: gray;
    padding: .5em;
    text-align: right;
    position: absolute;
    right: 155px;
}

.mainbody {
    position: relative;
    top: 130px;
    margin: auto;
    background-color:white;
    color:#777777;
    border: 2pt solid #dddddd;
    width: 960px;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    
}

img {
    width: 200px;
    height: 200px;
    margin: 5px;
}

#about {
    color: green;
}

 h4{
    color: lightgrey;
    text-align: center;
    font-style: initial

}

.footer {
    background-color: gray;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    border-top-style: solid;
    border-top-color:green;
    border-top-width: 8px;
  }
    
    /* porfolio specific css */

    .portfolioPics {
        position: relative;
        top: 130px;
        margin: auto;
        background-color:white;
        color:#777777;
        border: 2pt solid #dddddd;
        width: 960px;
        height: 525px;
        padding-left: 20px;
        padding-right: 20px;
    }

    div.gallery {
        margin: 5px;
        float: left;
        
    }

    /* contact me page specific css */

    .contact {
        position: relative;
        top: 130px;
        margin: auto;
        background-color:white;
        color:#777777;
        border: 2pt solid #dddddd;
        width: 960px;
        height: 525px;
        padding-left: 20px;
        padding-right: 20px;
    }

    
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      .forms {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }

      textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        font-size: 16px;
        resize: none;

      }